@font-face {
    font-family: "RD";
    src: url(fonts/rd.ttf) format("truetype");
}

*, .button{
	font-family: "RD";
}

.button {
	width: 10.5rem;
}

#paige {
	width: 6rem;
}

#message {
	margin-top: 1rem;
}

.sheet {
	color: #3273dc !important;
}

.invisible {
	visibility: hidden;
}